<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理</title>
    <link rel="stylesheet" href="/css/admin/reset.css">
    <link rel="stylesheet" href="/css/admin/public.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<div class="public-header-warrp">
    <div class="public-header">
        <div class="content">
            <div class="public-header-logo"><a href=""><i>LOGO</i>
                <h3>拓源网络科技</h3></a></div>
            <div class="public-header-admin fr">
                <p class="admin-name">****管理员 您好！</p>
                <div class="public-header-fun fr">
                    <a href="" class="public-header-man">管理</a>
                    <a href="" class="public-header-loginout">安全退出</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div style="height: 100px;width: 100%;background: url('/images/bg.jpg');"></div>

<!-- 内容展示 -->
<div class="public-ifame">
    <div class="content">
        <!-- 内容模块头 -->
        <div class="public-ifame-header">
            <ul>
                <li class="ifame-item logo">
                    <div class="item-warrp">
                        <a href="#"><i>LOGO</i>
                            <h3 class="logo-title">WorldVentures梦幻之旅</h3>
                            <p class="logo-des">创建于 2016/4/22 22:22:47</p>
                        </a>
                    </div>
                </li>
                <li class="ifame-item">
                    <div class="item-warrp"><span>注册时间：2015/11/21 21:14:01<br>VIP有效期：</span></div>
                </li>
                <li class="ifame-item">
                    <div class="item-warrp" style="border:none"><span>网站浏览量：15451</span></div>
                </li>
                <div class="clearfix"></div>
            </ul>
        </div>
        <div class="clearfix"></div>
        <!-- 左侧导航栏 -->
        <div class="public-ifame-leftnav">
            <div class="public-title-warrp">
                <div class="public-ifame-title ">
                    <a href="">首页</a>
                </div>
            </div>
            <ul class="left-nav-list">

                <li class="public-ifame-item">
                    <a href="javascript:;">商品管理</a>
                    <div class="ifame-item-sub">
                        <ul>
                            <li><a href="../goods/list" target="content">商品管理</a></li>
                        </ul>
                    </div>
                </li>

                <li class="public-ifame-item">
                    <a href="javascript:;">分类管理</a>
                    <div class="ifame-item-sub">
                        <ul>
                            <li><a href="../category/index" target="content">分类管理</a></li>
                        </ul>
                    </div>
                </li>

                <li class="public-ifame-item">
                    <a href="javascript:;">供应商管理</a>
                    <div class="ifame-item-sub">
                        <ul>
                            <li><a href="../supplier/" target="content">供应商管理</a></li>
                        </ul>
                    </div>
                </li>


            </ul>
        </div>
        <!-- 右侧内容展示部分 -->
        <div class="public-ifame-content">
            <iframe name="content" src="main" frameborder="0" id="mainframe" scrolling="yes" marginheight="0"
                    marginwidth="0" width="100%" style="height: 700px;"></iframe>
        </div>
    </div>
</div>
<script>
    $().ready(function () {

        /**
         * 点击导航栏展开
         * @type {jQuery|HTMLElement}
         */
        $.each($(".public-ifame-item > a"), function () {
            $(this).on('click', function () {
                $(".ifame-item-sub").hide();
                if ($(this).next().css('display') == 'none') {
                    $(this).next().show();
                    $(this).next().find("a")[0].click();
                }
            });
        });

        /**
         * 子导航栏点击
         */
        $(".ifame-item-sub li").on('click', function () {
            $(".ifame-item-sub li").removeClass("active");
            $(this).addClass("active");
        });
    });
</script>
</body>
</html>