<!DOCTYPE html>
<html>

<head>
    <title>input</title>
    <div th:replace="common"/>
    <!-- 需要先加载common里面的样式才能加载add.css -->
    <link rel="stylesheet" href="/css/goods/add.css">
    <!-- 图片压缩上传 -->
    <script src="/third-party/localResizeIMG/dist/lrz.bundle.js"></script>
</head>

<body>
<div class="container">
    <form method="post" action="#">
        <!-- 表单标题 -->
        <h3>创建新产品</h3>
        <fieldset>
            <div class="review0">
                <label for="nickname_field">展示图片（200 * 200）<em class="required">*</em></label>
                <ul class="upload-pick-ul">
                    <li class="upload-pick-li">
                        <input type="file" class="upload-pick-input" accept="image/*">
                    </li>
                    <li class="upload-pick-li">
                        <input type="file" class="upload-pick-input" accept="image/*">
                    </li>
                    <li class="upload-pick-li">
                        <input type="file" class="upload-pick-input" accept="image/*">
                    </li>
                    <li class="upload-pick-li">
                        <input type="file" class="upload-pick-input" accept="image/*">
                    </li>
                    <li class="upload-pick-li">
                        <input type="file" class="upload-pick-input" accept="image/*">
                    </li>
                    <input type="hidden" name="img">
                </ul>
            </div>

            <div class="review1">
                <ul>
                    <li>
                        <label for="nickname_field">产品名称<em class="required">*</em></label>
                        <div>
                            <input class="input-text" type="text" id="nickname_field" name="nickname">
                        </div>
                    </li>
                    <li>
                        <label class="required" for="summary_field">条形码<em>*</em></label>
                        <div class="input-box">
                            <input type="text" class="input-text" id="summary_field" name="title">
                        </div>
                    </li>
                    <li>
                        <label class="required" for="summary_field">分类<em>*</em></label>
                        <div class="input-box">
                            <select>
                                <option value="">无</option>
                                <option th:each="obj, iterStat : ${categories}"
                                        th:value="${obj.id}"
                                        th:inline="text">
                                    [[${obj.name}]]
                                </option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <label class="required">参考进货价（分）<em>*</em></label>
                        <div class="input-box">
                            <input type="text" class="input-text" name="purchasePrice">
                        </div>
                    </li>
                    <li>
                        <label class="required">参考售卖价（分）<em>*</em></label>
                        <div class="input-box">
                            <input type="text" class="input-text" name="salePrice">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="review2">
                <ul>
                    <li>
                        <label for="nickname_field">精选级别<em class="required">*</em></label>
                        <div>
                            <table>
                                <thead>
                                <tr class="first last">
                                    <th><span class="nobr">必选</span></th>
                                    <th><span class="nobr">精选</span></th>
                                    <th><span class="nobr">普通</span></th>
                                    <th><span class="nobr">备选</span></th>
                                    <th><span class="nobr">参考</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="first odd">
                                    <td class="value">
                                        <input type="radio" class="radio" value="2" name="rating">
                                    </td>
                                    <td class="value">
                                        <input type="radio" class="radio" value="2" name="rating">
                                    </td>
                                    <td class="value">
                                        <input type="radio" class="radio" value="3" name="rating" checked="checked">
                                    </td>
                                    <td class="value">
                                        <input type="radio" class="radio" value="4" name="rating">
                                    </td>
                                    <td class="value last">
                                        <input type="radio" class="radio" value="5" name="rating">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <label for="nickname_field">供应商列表
                        </label>
                        <div>
                            <table class="table-striped">
                                <thead>
                                <tr class="first last">
                                    <th width="30%"><span>供应商</span></th>
                                    <th width="30%"><span>价格（分）</span></th>
                                    <th><span>操作</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        美团供应商111111111
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button type="button" class="button" style="margin-top: 0">修改</button>
                                        <button type="button" class="button" style="margin-top: 0">移除</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select style="padding:0; margin:0;border: none;text-align: center"
                                                name="goodsSupplier_supplierId">
                                            <option th:each="obj, iterStat : ${suppliers}"
                                                    th:value="${obj.id}"
                                                    th:inline="text">
                                                [[${obj.name}]]
                                            </option>
                                        </select>

                                    </td>
                                    <td>
                                        <input type="text" class="input-text"
                                               style="padding:0; margin:0;border: none; text-align: center"
                                               name="goodsSupplier_purchasePrice" placeholder="进货价">
                                    </td>
                                    <td>
                                        <button type="button" class="button" style="margin-top: 0;width: 98px">添加供应商
                                        </button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </li>
                    <li>
                        <label class="required " for="">摘要<em>*</em></label>
                        <div class="input-box">
                            <textarea rows="3" cols="5" name="detail"></textarea>
                        </div>
                    </li>
                    <li>
                        <label class="required " for="">图文详情<em>*</em></label>
                        <div class="input-box">
                            <textarea rows="3" cols="5" name="detail"></textarea>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="buttons-set">
                <button class="button submit" title="Submit Review" type="submit"><span>提交</span></button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>

<script>

    /**
     *  图片上传
     * */
    $("input[type=file]").change(function () {
        if (!this.files[0]) {
            return;
        }
        var input = this;
        /* 压缩图片 */
        lrz(this.files[0], {width: 200}).then(function (rst) {
            /* 处理成功后执行 */
            $.ajax({
                url: "/file/upload",
                type: "POST",
                data: {fileName: rst.origin.name, data: rst.base64.split(",")[1], size: rst.fileLen},
                dataType: "json",
                success: function (data) {
                    if (data.status == true) {
                        $(input).parent().append("<img src='" + data.data + "' style='width: 100%; height: 100%;'>")
                        $(input).attr("value", data.data);
                    }
                },
                error: function (request) {
                    console.log(request)
                }
            });
        }).catch(function (err) {
            console.error("上传图片失败: " + err)
            /* 处理失败后执行 */
        }).always(function () {
            /* 必然执行 */
        })
    })

    $("input[name=purchasePrice],input[name=salePrice],input[name=goodsSupplier_purchasePrice]").bind('input propertychange', function () {
        $(this).val($(this).val().replace(/[^0-9]/ig, ""));
    });

    /**
     * 表单提交，检查参数
     */
    $("form").submit(function () {
        // 图片检查
        var img = "";
        $.each($("input[type=file]"), function () {
            if ($(this).attr("value")) {
                img += $(this).attr("value") + ",";
            }
        });

        if (img.length > 0) {
            img = img.substring(0, img.length - 1);
        } else {
            alert("请上传产品展示图片！")
            return false;
        }


        $("input[name=img]").attr("value", img);

        console.log($("input[name=img]"));
        return false;
    });
</script>
