<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>扫描产品条形码</title>
    <!--引入微信js库-->
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <style>
        body {
            background: black;
        }
    </style>

    <script th:inline="javascript">
        wx.config({
            beta: true,// 必须这么写，否则在微信插件有些jsapi会有问题
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: [[${appId}]], // 必填，公众号的唯一标识
            timestamp: [[${signatureTimestamp}]], // 必填，生成签名的时间戳
            nonceStr: [[${nonceStr}]], // 必填，生成签名的随机串
            signature: [[${signature}]],// 必填，签名，见附录1
            jsApiList: [
                'scanQRCode'// 微信扫一扫接口
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });

        wx.ready(function () {
            wx.scanQRCode({
                needResult: 1,
                desc: 'scanQRCode desc',
                success: function (res) {
                    // 接口调用成功时执行的回调函数。
                    if (res.resultStr) {
                        window.location.href = "/goods/update?barcode=" + res.resultStr.split(",")[1];
                    } else {
                        alert("扫描条形码失败：" + res);
                    }
                },
                cancel: function () {
                    // 用户点击取消时的回调函数，仅部分有用户取消操作的api才会用到。
                    alert("用户点击取消时的回调函数");
                    WeixinJSBridge.call('closeWindow');
                }
            });
        });

        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
        wx.error(function (res) {
            alert("错误：" + res);
        });
    </script>
</head>
<body>

</body>
</html>

