<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>扫描产品条形码</title>

    <!--并引入js库-->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>

    <!--引入界面样式-->
    <link rel="stylesheet" href="http://203.195.235.76/jssdk/css/style.css"/>
</head>
<body>
<center><h3>欢迎来到微信jsapi测试界面-V型知识库</h3></center>
<center><h3>欢迎来到微信jsapi测试界面-V型知识库</h3></center>
<div class="lbox_close wxapi_form">
    <h3 id="menu-scan">微信扫一扫</h3>
    <span class="desc">调起微信扫一扫接口</span>
    <button class="btn btn_primary" id="scanQRCode0">scanQRCode(微信处理结果)</button>
    <button class="btn btn_primary" id="scanQRCode1">scanQRCode(直接返回结果)</button>

</div>
</body>
</html>

<script th:inline="javascript">
    wx.config({
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '[[${appId}]]', // 必填，公众号的唯一标识
        timestamp: '[[${signatureTimestamp}]]', // 必填，生成签名的时间戳
        nonceStr: '[[${nonceStr}]]', // 必填，生成签名的随机串
        signature: '[[${signature}]]',// 必填，签名，见附录1
        jsApiList: [
            'scanQRCode'// 微信扫一扫接口
        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    //初始化jsapi接口 状态
    wx.error(function (res) {
        alert("调用微信jsapi返回的状态:" + res.errMsg);
    });

    wx.ready(function () {
        // 9 微信原生接口 开始---------------------
        // 9.1.1 扫描二维码并返回结果
        document.querySelector('#scanQRCode0').onclick = function () {
            wx.scanQRCode();
        };
        // 9.1.2 扫描二维码并返回结果
        document.querySelector('#scanQRCode1').onclick = function () {
            wx.scanQRCode({
                needResult: 1,
                desc: 'scanQRCode desc',
                success: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        };
        // 9 微信原生接口 结束---------------------

    });

</script>