.header-container {
    transition: all 0.5s;
    background: #44a23d;
}

.header-top {
    padding: 0px 0px 8px 0px;
    background-color: #409f3b;
}

.welcome-msg {
    margin: 7px 7px 0px 7px;
    text-align: left;
    display: inline-block;
    padding: 0px;
    font-size: 13px;
    color: #fff;
    vertical-align: top;
    margin-top: 8px;
}

.jtv-top-cart-box {
    margin: auto;
    position: relative;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.mini-cart {
    text-align: center;
    cursor: pointer;
    margin: 0px;
}

.mini-cart .dropdown-toggle {
    font-size: 14px;
    padding: 0px;
    text-transform: none;
}

.mini-cart .basket a {
    color: #333;
    margin: 0px;
    line-height: 17px;
    font-size: 12px;
    padding: 0px 15px;
    display: inline-block;
    background: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    float: none;
}

.mini-cart .basket a {
    color: #333;
    margin: 0px;
    line-height: 17px;
    font-size: 12px;
    padding: 0px;
    display: inline-block;
    background: #fff;
    border: 1px solid #409f3b;
    padding-right: 12px;
    border-radius: 3px;
    padding-left: 12px;
    /*float: left;*/
}

.mini-cart .basket a:before {
    border: none;
    content: '\f290';
    font-family: FontAwesome;
    font-size: 16px;
    color: #fdae03;
    background: #fff;
    height: 40px;
    width: 20px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    font-weight: normal;
    border-radius: 3px 0px 0px 3px;
}

.mini-cart .basket a span.cart_count {
    display: inline-block;
    color: #333;
    width: 22px;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 0px;
    padding-left: 0px;
}

.jtv-top-cart-box .price {
    color: #333;
    text-transform: uppercase;
    padding-left: 0px;
    font-size: 12px;
}

.jtv-logo-box {
    text-align: center;
}

.logo {
    text-align: center;
    padding-bottom: 0px;
    margin-top: 0px;
    line-height: normal;
    width: 100%;
    padding-top: 16px;
    /*padding-left: 20px;*/
    margin-bottom: 15px;
    display: inline-block;
}

.logo h1 {
    margin: auto;
}

.logo img {
    width: auto;
}

.breadcrumbs {
    padding: 0px;
    margin: 15px auto 5px;
    font-size: 12px;
    color: #fff;
    text-align: left;
    z-index: 10;
    position: relative;
}

.breadcrumbs ul {
    margin: 0px;
    padding: 0px;
}

.breadcrumbs ul li {
    list-style-type: none;
    display: inline;
}

.breadcrumbs a {
    color: #666;
    font-size: 12px;
    font-weight: normal;
}

.breadcrumbs span {
    display: inline-block;
    margin: 0 5px 0 5px;
    color: #ccc;
    font-size: 11px;
}

.breadcrumbs li strong {
    color: #000;
    font-weight: normal;
}

.main-container {
    /*min-height: 400px;*/
    padding: 0px;
    margin-top: 20px;
    font-size: 14px;
}

.product-view, .product-shop {
    margin-top: 20px;
}

.product-image-box img {
    height: auto;
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 1px;
}

.more-views-items {
    margin: 0 10px;
}

.product-shop .product-name {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
}

.product-shop .product-name h1 {
    margin: 0 0 2px;
    text-align: left;
    padding-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 22px;
    padding-right: 0px;
    line-height: normal;
}

.fa-star:before {
    content: "\f005";
}

.rating {
    color: #999;
    font-size: 12px;
}

/*.fa {*/
    /*display: inline-block;*/
    /*font: normal normal normal 14px/1 FontAwesome;*/
    /*font-size: inherit;*/
    /*text-rendering: auto;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
/*}*/

.rating .fa-star {
    color: #FC0;
}

.product-shop .rating-links {
    display: inline-block;
    margin-left: 5px;
    padding: 0px;
    margin-bottom: 0px;
}

.product-shop .rating-links a {
    color: #999;
    font-size: 13px;
}

/*价格区域*/
.product-shop .price-block {
    position: relative;
}

.product-shop .price-box {
    padding: 10px 0px;
    display: block;
    margin: 0px;
    position: relative;
}

.product-shop .special-price {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.special-price .price-label {
    font-size: 13px;
    white-space: nowrap;
    color: #666;
    display: none;
    font-weight: 400;
}

.price {
    font-size: 14px;
    color: #333;
    white-space: nowrap !important;
}

.product-shop .price {
    font-size: 24px;
    color: #000;
    font-weight: 600;
}

.product-shop .price-box .old-price {
    margin: 0px;
    margin-top: 0;
    display: inline-block;
}

.old-price .price-label {
    color: #777777;
    display: none;
    white-space: nowrap;
}

.old-price .price {
    color: #999 !important;
    font-size: 13px;
    font-weight: normal;
    text-decoration: line-through;
    margin-left: 6px;
}

.product-shop .old-price .price {
    font-size: 20px;
    font-weight: normal;
    vertical-align: 4px;
}

/*产品其它信息*/
.info-orther p {
    letter-spacing: 1px;
}

/*产品简介*/
.product-shop .short-description {
    font-size: 13px;
    padding: 15px 0px 15px 0px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 12px;
}

.product-shop .short-description {
    padding: 12px 0px;
}

.product-shop .short-description h2 {
    font-size: 14px;
    color: #333;
    margin: 0px;
    margin-bottom: 8px;
    letter-spacing: 0.5px;
    font-weight: 600;
    display: none;
}

.product-shop .short-description p {
    font-size: 13px;
    margin: 0px;
    color: #222;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

/*产品种类*/
.product-shop .form-option .form-option-title {
    font-weight: bold;
    line-height: 20px;
}

.product-shop .form-option .attributes .attribute-label {
    /*width: 50px;*/
    margin-right: 15px;
    float: left;
}

.product-shop .form-option .list-color {
    overflow: hidden;
    padding-top: 5px;
    padding: 0px;
}

.product-shop .form-option .list-color li {
    width: 20px;
    height: 20px;
    border: 1px solid #eaeaea;
    float: left;
    margin-right: 10px;
    list-style: none;
}

.product-shop .form-option .list-color li a {
    width: 20px;
    height: 20px;
    float: left;
    text-indent: -9999px;
}

.product-shop .form-option .list-color li:hover, .product-shop .form-option .list-color li.active {
    border: 1px solid #8ac42f;
}

.product-shop .add-to-box {
    padding: 12px 0px 8px;
    overflow: hidden;
    text-align: left;
    margin: 1px 0 0 0;
    border-bottom: 1px dotted #ddd;
}

/*购买数量*/
.add-to-box .add-to-cart, .product-options-bottom .add-to-cart {
    margin: 0;
}

.add-to-cart .pull-left {
    width: 100%;
}

.product-shop .add-to-box .add-to-cart label {
    display: inline-block;
    float: left;
    margin-top: 8px;
    text-align: left;
    text-transform: capitalize;
    /*font-size: 15px;*/
    font-weight: normal;
    margin-right: 15px;
}

.custom button.items-count {
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
    font-size: 12px;
    line-height: 0px;
    padding: 13px 12px 9px 12px;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border: 1px #ececec solid;
    color: #999;
}

input.input-text, select, textarea {
    /*background-color: #f0f0f0;*/
    border: 1px #f1f1f1 solid;
    padding: 8px 10px;
    outline: none;
    color: #aaa;
}

.add-to-cart .qty, .qty-holder .qty {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 0px;
    font-size: 15px;
}

.add-to-cart .qty {
    margin-bottom: 10px;
    height: 40px;
    text-align: center;
    width: 60px;
    vertical-align: top;
}

button.button {
    background: none repeat scroll 0 0 #fff;
    color: #666;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: normal;
    padding: 6px 12px;
    text-transform: uppercase;
    border: 1px #d1d1d1 solid;
    font-weight: 600;
}

/*添加到购物车*/
.product-shop .add-to-box .btn-cart {
    background: #8ac42f;
    color: #fff;
}

.product-shop .add-to-box .btn-cart {
    margin-left: 0px;
    margin-top: 0px;
    font-size: 16px;
    text-shadow: none;
    padding: 7px 20px;
    float: left;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
    border: none;
    height: 40px;
    text-transform: uppercase;
}

.email-addto-box {
    display: inline-block;
    margin-left: 0px;
}

/*分享/对比 */
.product-shop ul.add-to-links {
    margin: 0;
    padding: 0;
    margin-top: 0px;
    display: inline-block;
}

.product-shop .add-to-links li {
    display: inline-block;
    padding: 0px 0px 0px 6px;
    list-style-type: none;
    float: left;
}

.link-wishlist, .link-compare {
    color: #666;
    text-shadow: none;
    border: none;
    box-shadow: none;
}

.product-shop ul.add-to-links a {
    padding: 0;
    margin: 0;
    display: block;
}

.product-shop .add-to-links .link-wishlist {
    color: #999;
    line-height: normal;
    font-weight: normal;
    vertical-align: top;
    display: block;
    height: 40px;
    width: 45px;
    border: 1px #ececec solid;
    color: #999;
    line-height: 36px;
    vertical-align: top;
    text-align: center;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}

.product-shop .add-to-links .link-wishlist:before {
    content: "\f004";
    font-family: FontAwesome;
    font-size: 14px;
}

.product-shop .add-to-links span {
    font-size: 12px;
    margin-left: 5px;
    font-weight: normal;
    text-transform: none;
    display: none;
}

.product-shop .add-to-links span {
    display: none;
}

.product-shop .add-to-links li {
    display: inline-block;
    padding: 0px 0px 0px 6px;
    list-style-type: none;
    float: left;
}

.product-shop .add-to-links span {
    font-size: 12px;
    margin-left: 5px;
    font-weight: normal;
    text-transform: none;
    display: none;
}

.product-shop .add-to-links li .separator {
    display: none;
}

.link-wishlist, .link-compare {
    color: #666;
    text-shadow: none;
    border: none;
    box-shadow: none;
}

.product-shop ul.add-to-links a {
    padding: 0;
    margin: 0;
    display: block;
}

.product-shop .add-to-links .link-compare {
    color: #999;
    line-height: normal;
    font-weight: normal;
    vertical-align: top;
    display: block;
    height: 40px;
    width: 45px;
    border: 1px #ececec solid;
    color: #999;
    line-height: 36px;
    vertical-align: top;
    text-align: center;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}

.product-shop .add-to-links .link-compare:before {
    content: "\f012";
    font-family: FontAwesome;
    font-size: 14px;
}

.add-to-links span {
    font-size: 12px;
    margin-left: 8px;
    text-transform: uppercase;
}

.product-shop .add-to-links span {
    font-size: 12px;
    margin-left: 5px;
    font-weight: normal;
    text-transform: none;
    display: none;
}

.product-collateral {
    display: inline-block;
    margin-bottom: 20px;
}

/*产品详细标签 ul*/
.nav {
    margin: 0px auto 0;
}

.product-tabs {
    margin: 5px 0px 0;
    padding: 8px 0px 0px;
    text-align: left;
    width: 100%;
}

.product-tabs {
    height: auto;
}

/*产品详细标签 ul li*/
.nav-tabs > li {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}

.nav-tabs.product-tabs > li {
    display: inline-block;
    float: none;
    margin-right: 5px;
}

.nav-tabs.product-tabs > li {
    margin-right: 0px;
    margin-bottom: -1px;
}

/*产品详细标签 ul li a 激活状态*/
.product-tabs li.active a {
    background: none repeat scroll 0 0 #fff;
    color: #333;
    padding: 12px;
    border: 2px solid #333;
}

.nav-tabs.product-tabs > li > a {
    margin-right: 0px;
    line-height: 1.42857143;
    border-radius: 0px;
    background: none repeat scroll 0 0 #fff;
    padding: 12px 15px 12px;
    border: 1px #e5e5e5 solid;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 1px #e5e5e5 solid;
    /*border-bottom: 1px solid #fff;*/
    color: #8ac42f;
}

/*产品详细标签 ul li a 未激活状态*/
.product-tabs li a {
    color: #666;
    margin-right: 0px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
    padding: 0px;
    letter-spacing: 1px;
    border: none;
}

.nav-tabs.product-tabs > li > a {
    margin-right: 0px;
    line-height: 1.42857143;
    border-radius: 0px;
    background: none repeat scroll 0 0 #fff;
    padding: 12px 15px 12px;
    border: 1px #e5e5e5 solid;
}

/*产品详细内容 #productTabContent*/
.tab-content {
    background-color: inherit;
    padding: 5px 0px 20px 0px;
    overflow: hidden;
    font-size: 13px;
    line-height: 21px;
    margin-top: 0px;
    letter-spacing: 0.5px;
    width: 100%;
}

.tab-content {
    display: inline-block;
}

#productTabContent {
    padding: 10px 25px;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e5e5e5;
    border-top: none;
}

#productTabContent {
    padding: 10px 15px;
}

/*产品详细内容 #productTabContent tab-content*/
.tab-content {
    background-color: inherit;
    padding: 5px 0px 20px 0px;
    overflow: hidden;
    font-size: 13px;
    line-height: 21px;
    margin-top: 0px;
    letter-spacing: 0.5px;
}

.tab-content > .active {
    margin-top: 10px;
}

.tab-content > .active {
    margin-top: 5px;
}

#product_tabs_description{
    margin: 0 0 35px;
}

/*评论区域*/
/*em 必须提示红色*/
em.required {
    color: #f00;
}

/*表单表格样式*/
form table {
    margin: 15px 0;
    border: medium none;
    width: 100%;
}

/*表格行样式*/
th, td {
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    padding: 10px;
    letter-spacing: 0.5px;
    border: 1px solid #eaeaea;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

#customer-reviews h4 {
    display: inline;
    font-size: 14px;
}

/*单选按钮输入*/
form input[type=radio] {
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: middle;
}

ul {
    margin: auto;
    padding: 0px;
}

li {
    margin-bottom: 0px;
    list-style: none;
}

form label {
    color: #333;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: normal
}

form em {
    color: #ff0000;
}

.review1 input {
    width: 80%;
    padding: 10px;
    margin-bottom: 4px;
    line-height: 20px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1) inset;
    outline: none;
    color: #aaa;
}

textarea {
    border: 1px #f1f1f1 solid;
    padding: 10px;
    outline: none;
    color: #aaa;
    width: 100%;
    margin-top: 4px;
    height: 8em;
    background: #fff;
    margin-bottom: 8px;
}

/*别人的评论*/
.box-reviews2 {
    margin-top: 8px;
    margin-bottom: 35px;
    overflow: hidden;
}

#customer-reviews h3 {
    font-size: 14px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#customer-reviews ul {
    margin: auto;
    padding: 0px;
}

.box-reviews2 ul li {
    margin-bottom: 0px;
    clear: both;
}

#customer-reviews li {
    margin-bottom: 0px;
    list-style: none;
}

.box-reviews2 .ratings-table {
    float: left;
    margin: 5px 15px 15px 0;
    width: 100%;
}

.box-reviews2 th, .box-reviews2 td {
    border: none;
}

.box-reviews .review {
    margin-bottom: 10px;
    border-left: 0 solid #dfdfdf;
    float: left;
    padding-left: 0;
    width: 95%;
}

.box-reviews ul li h6 {
    font-size: 15px;
    margin-bottom: 3px;
    margin-top: 0px;
    padding: 0;
}

.box-reviews ul li h6 a {
    color: #333;
    font-weight: 500;
    letter-spacing: 0.5px;
}

small {
    font-size: 85%;
    font-weight: normal;
    text-transform: lowercase;
    color: #999999;
}

.box-reviews .review .review-txt {
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 12px;
    margin-bottom: 10px;
}

.box-reviews .actions {
    padding-top: 1.5em;
    text-align: right;
    float: right;
}

.button {
    background: #fff;
    border-color: #ddd;
    color: #333;
}

a.button {
    display: inline-block;
    padding: 6px 15px;
    font-size: 11px;
    border-width: 2px;
    text-align: center;
    color: #333;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    border-style: solid;
}

a.button.view-all {
    display: inline-block;
    border: 0;
    background: #fff;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    color: #333;
    font-weight: 600;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    vertical-align: top;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-transform: uppercase;
}

a.button.view-all:before {
    content: "\f06e";
    font-family: FontAwesome;
    font-size: 13px;
    padding-right: 8px;
}

/*相关产品*/
.related-section {
    margin-bottom: 10px;
    position: relative;
    margin-top: 10px;
}

.related-section .slider-items-products {
    overflow: hidden;
}

.related-section .block-title {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px auto 15px;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
}

.related-section .block-title h3 {
    margin: auto;
    font-size: 20px;
}

#related-products-slider.product-flexslider {
    margin: 0px -12px;
}

.product-flexslider {
    margin-top: 10px;
    margin-bottom: 0px;
}

.products-grid {
    margin: 0;
    list-style: none;
}

.col-xs-12 {
    float: none;
}

.related-section {
    margin-bottom: 10px;
    position: relative;
    margin-top: 10px;
}

.related-section .slider-items-products {
    overflow: hidden;
}

.related-section .block-title {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px auto 15px;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
}

.related-section .block-title h3 {
    margin: auto;
    font-size: 20px;
}

#related-products-slider.product-flexslider {
    margin: 0px -12px;
}

/*相关产品项目*/

.owl-item .item {
    margin: 0 12px;
}

.slider-items-products .item {
    text-align: center;
    margin-top: 0px !important;
}

.products-grid .item {
    margin-top: 20px;
    margin-bottom: 5px;
}

.products-grid .item .item-inner {
    position: relative;
    text-align: center;
    overflow: hidden;
    border: 1px #e5e5e5 solid;
    padding-bottom: 18px;
    background: #fff;
}

.products-grid .item .item-inner .item-img {
    position: relative;
}

.products-grid .item .item-inner .item-img {
    margin: 0px auto 0;
}

.products-grid .item .item-inner .item-img .item-img-info {
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position: relative;
}

.products-grid .item .item-inner .item-img .item-img-info a.product-image {
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

.item .item-inner .item-img .item-img-info a.product-image img {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    max-width: 100%;
    width: 100%;
}

.products-grid .item .item-inner .item-img .item-img-info a.product-image img {
    width: 100%;
}

.products-grid .item .item-inner .item-info .info-inner {
    border-top: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.products-grid .item .item-inner .item-info .info-inner .item-title {
    margin-bottom: 3px;
    padding-top: 10px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.products-grid .item .item-inner .item-info .info-inner .item-title h6 {
    margin: auto;
    margin-bottom: 4px;
}

.products-grid .item .item-inner .item-info .info-inner .item-title h6 a {
    text-decoration: none;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: #333;
}

.products-grid .item .item-inner .action {
    margin-top: 8px;
}

.products-grid .item .item-inner {
    position: relative;
    text-align: center;
    overflow: hidden;
    border: 1px #e5e5e5 solid;
    padding-bottom: 18px;
    background: #fff;
}

button.button {
    background: none repeat scroll 0 0 #fff;
    color: #666;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: normal;
    padding: 6px 12px;
    text-transform: uppercase;
    border: 1px #d1d1d1 solid;
    font-weight: 600;
}

button.button span {
    font-weight: normal;
}

.related-section .owl-dots{
    display: none;
}



/*尾部*/
footer {
    padding: 0px 0 0;
    overflow: hidden;
    color: #fff;
    padding-top: 0px;
    background-color: #111;
}

.footer-top {
    padding-top: 30px;
    background-color: #ddd;
    /*margin-bottom: 30px;*/
    border-top: 1px solid #ccc;
}

footer img{
    width: inherit;
}

address {
    display: block;
    margin: auto;
    font-style: normal;
    line-height: 21px;
    color: #999;
    padding-top: 10px;
    margin-top: 10px;
    text-align: left;
    padding-bottom: 15px;
    border-bottom: 1px #eaeaea solid;
    margin-bottom: 15px;
}
footer address {
    display: block;
    margin: auto;
    font-style: normal;
    line-height: 35px;
    color: #777;
    padding-top: 5px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 13px;
    border: none;
    letter-spacing: 0.5px;
}
footer address {
    width: 95%;
    margin: 18px auto 10px;
    text-align: left;
}

footer address i {
    border: 1px #888 solid;
    width: 35px!important;
    line-height: 33px!important;
    display: inline-block!important;
    height: 35px!important;
    text-align: center;
    margin-left: 20px!important;
    border-radius: 2px;
    margin-right: 5px!important;
}
footer address i {
    float: left;
    margin-right: 5px;
    margin-left: 12px !important;
}


footer p {
    font-size: 14px;
    color: #aaa;
    padding-top: 0px;
    padding-bottom: 5px;
}
footer p {
    line-height: 20px;
}

footer address p {
    display: inline-block;
    padding: 0px;
    color: #666;
}
footer address p {
    display: inline-block;
    width: 100%;
    line-height: normal;
}

footer address .fa {
    font-size: 16px;
}

footer address .fa-mobile {
    font-size: 19px;
}

footer address span {
    float: left;
    margin-right: 8px;
    margin-top: 8px;
}

footer address .fa-envelope {
    font-size: 14px;
}

footer a {
    padding-top: 7px;
    padding-bottom: 7px;
    /*font-size: 13px;*/
}
footer a {
    line-height: normal;
}
footer a {
    color: #aaa;
}

footer .footer-top a {
    color: #666;
}

